

#regCheckCodes {
    margin-right: 5px;
    /*background-color: #B3F0FB;*/
    background-repeat: no-repeat;
    text-align: center;
    color: red;
    font-size: 16px;
    font-style: italic;
    width: 73px;
    height: 24px;
    border: 1px solid #F2F2F2;
    line-height: 24px;
    text-decoration: line-through;
    float: left;
}



